/* Awesome font by Threedotstype (https://threedotstype.com/product/di-grotesk/) 
It is not a free font and all rights belong to Threedotstype.
*/
@font-face {
  font-family: 'DiGrotesk';
  font-style: normal;
  font-weight: 400;
  src: url('assets/DiGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'DiGrotesk';
  font-style: bold;
  font-weight: 700;
  src: url('assets/DiGrotesk-Bold.woff') format('woff');
}

body {
  font-family: "DiGrotesk", serif;
}

/*
Kivi colors come from WERNER’S NOMENCLATURE OF COLOURS By P. Syme
Reference: https://www.c82.net/werner/ 
*/

/*
Ink black
*/
.kivi-black {
   color: #252024;
}

/*
Carmin red
*/
.kivi-red {
    color: #ce536b;
 }

/*
Verditter Blue
*/
.kivi-green {
    color: #6fb5a8;
 }

/*
Kings Yellow
*/
.kivi-yellow {
    color: #ead665;
 }

 .white {
    color: #ffffff;
 }

 .logo {
    width: 200px;
    margin: auto;
    position: fixed;
 }

 img {
  max-height: 500px;
 }

.image-text {
  display: flex;
  flex-direction: row;
}

/*
Tip: copied from my Webflow (www.webflow.com) css 
*/
container {
  display: flex;
  width: 100%;
  max-width: 940px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: flex-start;
}

.grid {
  display: flex;
  align-items: flex-start;
}

.col-left {
  width: 250px;
  padding-left: 2em;
  padding-right: 1em;
  margin-right: 1em;
}

.col-right {
  max-width: 940px;
  flex: 1;
}
 