/* Awesome font by Threedotstype (https://threedotstype.com/product/di-grotesk/) 
It is not a free font and all rights belong to Threedotstype.
*/
@font-face {
  font-family: 'DiGrotest';
  src: url('fonts/DiGrotesk-Regular.woff');
}

body {
  font-family: "DiGrotest", serif;
}

/*
Kivi colors come from WERNER’S NOMENCLATURE OF COLOURS By P. Syme
Reference: https://www.c82.net/werner/ 
*/

/*
Ink black
*/
.kivi-black {
   color: #252024;
}

/*
Carmin red
*/
.kivi-red {
    color: #ce536b;
 }

/*
Verditter Blue
*/
.kivi-green {
    color: #6fb5a8;
 }

/*
Kings Yellow
*/
.kivi-yellow {
    color: #ead665;
 }

 .white {
    color: #ffffff;
 }

 .logo {
    width: 200px;
    margin: auto;
    position: fixed;
 }

 .text {
  font-family: 'DiGrotesk';
  font-size: 40px;
 }